/* MOBILE */
.eventon_events_list .eventon_list_event .evcal_list_a {
    display: flex;
    flex-wrap: inherit;
}

.ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a {
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    /* TABLET */
    .ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) {
    /* DESKTOP */
    .ajde_evcal_calendar.boxy .eventon_list_event .evcal_list_a {
        flex-direction: column;
    }
}

